@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@if (NavigationManager.Uri.EndsWith("login", StringComparison.InvariantCultureIgnoreCase)
|| NavigationManager.Uri.EndsWith("register", StringComparison.InvariantCultureIgnoreCase))
{
    <div class="min-h-screen" Style="@($"background-color:#f8fafe;")">
    @Body
</div>
}
else
{
    <MudLayout Class="min-h-screen">
    <MudAppBar Elevation="0" Fixed="true" Class="custom-appbar">
        <MudStack Row="true" Spacing="2">
            <MudIconButton Class="rounded-lg" Icon="@Icons.Material.Filled.Menu" Edge="Edge.Start"
                OnClick="@((e) => DrawerToggle())" />
            <MudText Color="Color.Default" Typo="Typo.h6" Class="my-auto text-[#424242]" Style="color:#495057;">
                Aqarjiya
            </MudText>
        </MudStack>
        <MudSpacer />
        <MudStack Row="true" Spacing="1">
            @* <MudBadge Content="3" Color="Color.Error" Overlap="true" Class="my-auto">
            <MudIconButton Size="Size.Medium" Class="p-2" Color="Color.Default"
            Icon="@Icons.Material.Rounded.Notifications" />
            </MudBadge> *@
            <MudMenu AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
                <ActivatorContent>
                    <MudChip T="string" Size="Size.Large" Color="Color.Inherit">
                        <MudStack Spacing="0" Row="true" Class="flex flex-row">
                            <MudAvatar Size="Size.Medium" Style="background-color: var(--bs-blue); color: white;"
                                Class="uppercase">
                                U
                            </MudAvatar>
                            <MudText Typo="Typo.body2" Class="my-auto">
                                User
                            </MudText>
                        </MudStack>
                    </MudChip>
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem>View Profile</MudMenuItem>
                    <MudMenuItem>Sign Out</MudMenuItem>
                </ChildContent>
            </MudMenu>
        </MudStack>
    </MudAppBar>
    <MudDrawer Fixed="true" Elevation="0" Overlay="false" ClipMode="DrawerClipMode.Always" MiniWidth="72px"
        Variant="DrawerVariant.Mini" Class="h-screen" @bind-Open="@_drawerOpen">
        <NavMenu />
    </MudDrawer>

    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" DisableGutters="true" style="padding: 0;">
            <div class="min-h-screen" style="background-color:#f8fafe; padding: 3rem;">
                @Body
            </div>
        </MudContainer>
    </MudMainContent>

</MudLayout>
}

@code {
    bool _drawerOpen = true;
    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}