@using BlazorDashboardClean.Layout

<MudNavMenu Class="flex flex-col justify-between p-2 h-screen">
    <!-- Top links -->
    <div>
        <MudStack Spacing="3">
            <NavMenuLinks Content="Dashboard" Href="/" Icon="@Icons.Material.Rounded.Dashboard"
                Match="NavLinkMatch.All" />

            <!-- Section: Properties -->
            <NavMenuLinks Content="Properties" Href="/properties" Icon="@Icons.Material.Rounded.HomeWork"
                Match="NavLinkMatch.Prefix" />
            @* <NavMenuLinks Content="Add Property" Href="/properties/add" Icon="@Icons.Material.Outlined.AddBusiness"
            Match="NavLinkMatch.Prefix" /> *@

            <!-- Section: Tenants -->
            <NavMenuLinks Content="Tenants" Href="/tenants" Icon="@Icons.Material.Rounded.Groups"
                Match="NavLinkMatch.Prefix" />
            @* <NavMenuLinks Content="Add Tenant" Href="/tenants/add" Icon="@Icons.Material.Outlined.PersonAdd"
            Match="NavLinkMatch.Prefix" /> *@

            <!-- Section: Units -->
            <NavMenuLinks Content="Units" Href="/units" Icon="@Icons.Material.Rounded.Apartment"
                Match="NavLinkMatch.Prefix" />
            @* <NavMenuLinks Content="Add Unit" Href="/units/add" Icon="@Icons.Material.Outlined.DomainAdd"
            Match="NavLinkMatch.Prefix" /> *@

        </MudStack>
    </div>

    <!-- Sign Out pinned to bottom -->
    <div class="pt-4">
        <MudDivider />
        <NavMenuLinks Content="Sign Out" Href="/logout" Icon="@Icons.Material.Outlined.Logout"
            Match="NavLinkMatch.All" />
    </div>
</MudNavMenu>
